{% load static %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'data/skeleton.css' %}">

<div class="container">
<h1>Missouri Police Accountability Project<br></h1>


<form action="{% url 'data:results' %}" method="get">
    <h4><a>Search for an officer below by last name:<br></a></h4>
    <input type="text" name="searchterm">
    <input type="submit" value="Search" class="button-primary">
</form>

</div>
<div id='map'></div>
<div><script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 38.6530165, lng: -90.3138514},
          zoom: 11
        });
        let markers = [];
        $.getJSON( "locations/", function(results) {
          for (var i = 0; i < results.features.length; i++) {
            let coords = results.features[i].geometry.coordinates;
            let latLng = new google.maps.LatLng(coords[1],coords[0]);
            let marker = new google.maps.Marker({
              position: latLng,
              // map: map
            });
            markers.push(marker);
          }
          var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: "{% static 'data/' %}"}
          );
        });
      }
</script>
<script type="text/javascript" src="{% static 'data/markerclusterer.js' %}">
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap"
async defer></script>
</div>